body{
	background: linear-gradient(180deg, #00b4db, #0083b0);
}
.jogadorPontos {
	padding-top: 50px;
	border-color: 2px solid green;
}

#modal {
	height: 50%;
	width: 50%;
	background-color: teal;
	color: black;
}

#svg-map{
	margin-left: auto;
    margin-right: auto;
    display: block;
}