.setinhaRStoSC {
    position: absolute;
    top: 468.466px!important;
    left: 410.031px !important;
    transform-origin: left center;
    display: inline;
    transform: rotate(-53deg);
}

.setinhaRStoSC::before {
    position: absolute;
    content: '';
    width: calc( 100% - 25px );
    height: 20px;
    background: red;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.setinhaRStoSC::after {
    position: absolute;
    content: '';
    float: left;
    width: 1px;
    height: 1px;
    border: 25px solid transparent;
    border-left-color: red;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: calc( 100% - 25px );
}
/*-----------------------------------*/


.setinhaSCtoRS{
    position: absolute;
    top: 414.765px !important;
    left: 454.911px !important;
    transform-origin: left center;
    display: inline;
    transform: rotate(138deg);
}

.setinhaSCtoRS::before {
    position: absolute;
    content: '';
    width: calc( 100% - 25px );
    height: 20px;
    background: red;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.setinhaSCtoRS::after {
    position: absolute;
    content: '';
    float: left;
    width: 1px;
    height: 1px;
    border: 24px solid transparent;
    border-left-color: red;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: calc( 100% - 25px );
}

.setinhaSCtoPR {
    position: absolute;
    top: 390.765px !important;
    left: 427.911px !important;
    transform-origin: left center;
    display: inline;
    transform: rotate(-100deg);
    width: 45px;
    height: 45px;
}
.setinhaSCtoPR::before {
    position: absolute;
    content: '';
    width: calc( 100% - 25px );
    height: 20px;
    background: red;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.setinhaSCtoPR::after {
    position: absolute;
    content: '';
    float: left;
    width: 1px;
    height: 1px;
    border: 15px solid transparent;
    border-left-color: red;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: calc( 100% - 25px );
}

/********************************************/
.setinhaPRtoSP {
    position: absolute;
    top: 351.104px !important;
    left: 437.445px !important;
    transform-origin: left center;
    display: inline;
    transform: rotate(-15deg);
    width: 45px;
    height: 45px;
}
.setinhaPRtoSP::before {
    position: absolute;
    content: '';
    width: calc( 100% - 25px );
    height: 20px;
    background: red;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.setinhaPRtoSP::after {
    position: absolute;
    content: '';
    float: left;
    width: 1px;
    height: 1px;
    border: 15px solid transparent;
    border-left-color: red;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: calc( 100% - 25px );
}

.setinhaPRtoSC {
    position: absolute;
    top: 363.104px !important;
    left: 436.445px !important;
    transform-origin: left center;
    display: inline;
    transform: rotate(49deg);
}
.setinhaPRtoSC::before {
    position: absolute;
    content: '';
    width: calc( 100% - 25px );
    height: 20px;
    background: red;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.setinhaPRtoSC::after {
    position: absolute;
    content: '';
    float: left;
    width: 1px;
    height: 1px;
    border: 15px solid transparent;
    border-left-color: red;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: calc( 100% - 25px );
}

.setinhaPRtoMS {
    position: absolute;
    top: 363.104px !important;
    left: 409.445px !important;
    transform-origin: left center;
    display: inline;
    transform: rotate(-123deg);
}
.setinhaPRtoMS::before {
    position: absolute;
    content: '';
    width: calc( 100% - 25px );
    height: 20px;
    background: red;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.setinhaPRtoMS::after {
    position: absolute;
    content: '';
    float: left;
    width: 1px;
    height: 1px;
    border: 15px solid transparent;
    border-left-color: red;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: calc( 100% - 25px );
}

/*RIO DE JANER TESTE*/

.setinhaRJtoSP {
    position: absolute;
    top: 328.68px !important;
    left: 518.465px !important;
    transform-origin: left center;
    display: inline;
    transform: rotate(184deg);
}
.setinhaRJtoSP::before {
    position: absolute;
    content: '';
    width: calc( 100% - 25px );
    height: 20px;
    background: red;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.setinhaRJtoSP::after {
    position: absolute;
    content: '';
    float: left;
    width: 1px;
    height: 1px;
    border: 15px solid transparent;
    border-left-color: red;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: calc( 100% - 25px );
}

@keyframes moverSeta {
    from {left: 550px;}
    to {left: 500px;}
}

@keyframes moverSetaPRtoSP {
    from {left: 436px;}
    to {left: 446px;}
}

@keyframes moverSetaPRtoSC{
    from {top: 0%;}
    to {top: 10%;}
}